{% extends 'base2.html.twig' %}
{% block content %}
<section id="main-content">
    <section class="wrapper">
        {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    </section>
</section>



{% endblock %}
